body {
  background-color: rgb(235, 226, 220);
}

.contenedor h1 {
  background-color: rgb(235, 226, 220);
  font-size: 20px;
  display: flex;
  justify-content: center;
  font-style: oblique;
  font-weight: 400;
}

.menu-header {
  max-width: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  text-align: center;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  height: 40px;
  border-radius: 2px;
}
.menu-header ul:hover {
  transition: 0.8s;
  font-size: 22px;
}

.contenedor-imagenes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  gap: 10px;
}

.contenedor-imagenes img {
  width: 230px;
  height: 150px;
  border-radius: 4px;
}

.contenedor-imagenes img:hover {
  transform: scale (1.8);
}
