body {
  background-color: chocolate;
}

.contenedor h1 {
  background-color: salmon;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.menu-header {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  height: 40px;
  border-radius: 2px;
  padding: 1px;
}
.menu-header ul:hover {
  transition: 1.2s;
  font-size: 22px;
}
